<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#" class="text-secondary">Back to top</a>
    </p>

    <p class="text-success">Markdown Express Blog </p>
  </div>
</footer>