<section class="jumbotron text-center my-jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading text-white">Welcome to Express blogging</h1>
    <p class="lead text-muted">Own your content, share ideas, and connect with
      the dev community!</p>
    <p>
      <a href="/posts/create-post" class="btn btn-sm btn-success my-1">Start
        your personal blog</a>
    </p>

  </div>
</section>