<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-success" href="/">Markdown Express Blog</a>
    <div class="" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/create-post">Create Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/fetch-post">All Articles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>