<section
  id="postBlock"
  class="card col-md-6 mx-auto my-4 bg-secondary mb-3 shadow-lg p-3 rounded"
>
  <article>
    <h2 class="display-5 text-center font-weight-bold text-light">Create Article</h2>

    <form
      action="/posts/create-post"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="">Title:</label>
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="Article title..."
        /></div>
      <div class="form-group">
        <label for="photo">Chose Photo</label>
        <input
          type="file"
          name="photo"
          id="photo"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="">Description:</label>
        <textarea
          type="text"
          name="description"
          placeholder="Write description here..."
          class="form-control"
        ></textarea></div>
      <div class="form-group">
        <label for="">Markdown:</label>
        <textarea
          type="text"
          name="markdown"
          cols="10"
          rows="15"
          placeholder="Write down your artcle in markdown format..."
          class="form-control"
        ></textarea></div>
      {{! handlebar looping }}
      {{#each errors}}
        <div class="alert alert-danger" role="alert">
          {{text}}
        </div>
      {{else}}
      {{/each}}
      {{! handlebar looping }}
      <div class="form-group"><label for=""></label>
        <a href="/" class="btn btn-info">Cancel</a>
        <button class="btn text-white bg-success my-4">Create Post</button>

      </div>
    </form>
  </article>
</section>